
[*]
charset = utf-8
indent_style = space
indent_size = 8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[.editorconfig]
indent_size = 4

[.gitattributes]
indent_size = 4

[.gitignore]
indent_size = 4

[.project]
indent_style = tab
indent_size = 4
end_of_line = crlf

[.pylintrc]
indent_size = 8

[{*.cpp, *.hpp}]
indent_size = 4

[*.md]
indent_size = 2

[*.py]
indent_size = 4

[*.sh]
indent_size = 4

[*.txt]
indent_size = 4