# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
.editorconfig   text    eol=lf
.gitattributes  text    eol=lf
.gitignore      text    eol=lf
.project		text	eol=crlf
.pylintrc       text    eol=lf
SConscript		text	eol=lf
*.hpp			text	eol=lf
*.hpp			text	eol=lf
*.md            text    eol=lf
*.py            text    eol=lf
*.sh            text    eol=lf
*.txt           text    eol=lf